body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}
.hero {
  padding: 80px 20px;
  background: linear-gradient(135deg, #2563eb, #1e40af);
}

.hero h1 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.1rem;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 15px 30px;
  background: #22c55e;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
}

section {
  padding: 50px 20px;
  background: #020617;
}

footer {
  padding: 20px;
  background: black;
  font-size: 14px;
}
